@import url("./sanitize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary: rgba(87, 84, 236, 0.7);
  --secondary: rgba(43, 43, 43, 0.8);
  --primary-pale: rgba(87, 84, 236, 1);
  --white: #fff;
  --tertiary: rgba(28, 122, 28, 1);
  --max-width: 75%;
  --min-width: 25%;
}

.content {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  min-width: 360px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding: 22px 32px;
  border: 3px solid var(--white);
  text-align: center;
  width: 26%;
  max-width: 240px;
  min-width: 146px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s all;
  z-index: 10;
}

.btn:hover {
  border-color: transparent;
}

.btn-primary:hover {
  background-color: var(--primary-pale);
}

.section.section-primary .section-img::before,
.section.section-primary {
  background-color: var(--primary);
}

.btn-secondary:hover,
.section.section-secondary .section-img::before,
.section.section-secondary {
  background-color: var(--secondary);
}

.btn-tertiary:hover,
.section.section-tertiary .section-img::before,
.section.section-tertiary {
  background-color: var(--tertiary);
}

.section {
  height: 100%;
  position: relative;
  transition: 1s all;
  min-width: 25%;
  width: 50%;
  overflow: hidden;
}

.section:hover {
  width: 125%;
}

.section figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 22px 0;
  padding-top: clamp(16px, 23.5vh, 240px);
}

.section img::selection{
  background-color: transparent;
}

.section-title {
  margin: 0;
  font-size: clamp(32px, 4vw, 64px);
  margin-bottom: clamp(16px, 6vh, 84px);
  z-index: 10;
  color: var(--white);
  text-align: center;
}

.section-img::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.section-img img,
.section-img,
.section-img::before {
  height: 100%;
  width: 100%;
}

.section-img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.section-img img {
  object-fit: cover;
  object-position: left;
}
